.login-form {
  max-width: 300px;
  margin: auto;
  margin-top: 16em;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.centered {
  text-align: center;
}

[nz-input] {
  width: 100%;
  height: 2.5em;
}
