<nz-table #basicTable [nzData]="cards">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Number</th>
      <th>CVC</th>
      <th>ExpiryMonth</th>
      <th>ExpiryYear</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let card of basicTable.nzData">
    <tr>
      <td>{{ card.id }}</td>
      <td>{{ card.cardholderName }}</td>
      <td>{{ card.cardNumber }}</td>
      <td>{{ card.cvc }}</td>
      <td>{{ card.expiryMonth }}</td>
      <td>{{ card.expiryYear }}</td>
      <td>
        <app-update-modal-form [card]="card"></app-update-modal-form>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="deleteCard(card.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<app-add-modal-form></app-add-modal-form>
